<?xml version="1.0"?>
<launch>
    <arg name="model" default="$(find kangaroo_x2_driver)/urdf/kangaroo_diff_drive.xacro"/>

    <rosparam file="$(find kangaroo_x2_driver)/config/diff_drive_control.yaml" command="load"/>

    <node pkg="kangaroo_x2_driver" type="kangaroo_driver_node" name="kangaroo_node" respawn="true" respawn_delay="10"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
      respawn="false"/>

	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" args="diff_drive_controller joint_state_controller">
	</node>

    <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'" />

</launch>
